{% extends 'base.html' %}

{% block title %} Instruction sent by email
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class=" col-md-4 position-absolute top-50 start-50 translate-middle">
                <div class="card">
                    <div class="card-body">
                            <h3 class="text-center">Instructions sent by email</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}